@import '_normalize'
@import 'jeet/_jeet'

font-base = 'Open Sans', Helvetica, Arial, sans-serif

size-font = 1.6rem
size-line = 2.2rem

size-s = 768px
size-m = 980px
size-l = 1200px

color-main = #586178
color-blue = #3490EC
color-black = rgb(0, 0, 0)
color-white = rgb(255, 255, 255)

trs-function = cubic-bezier(.33,.66,.66,1)

mediaMin(minWidth)
  @media screen and (min-width: minWidth)
    {block}
mediaBetween(minWidth, maxWidth)
  @media screen and (min-width: minWidth) and (max-width: maxWidth)
    {block}

*
  &
  &:before
  &:after
    box-sizing border-box
  &:active
    -webkit-tap-highlight-color: alpha(color-white, 0)

::selection
  background alpha(color-black, 0.05)

input
textarea
  &:focus
    outline 0

html
  font-size 62.5%
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background #f6f8fb
  height 100%

body
  position relative
  font size-font/size-line font-base
  color color-main
  height 100%

a
a:link
a:active
a:visited
  text-decoration none
  cursor pointer

h1
h2
h3
h4
h5
  letter-spacing 0.08rem
  margin 2rem 0

h1
  font-size 3.6rem
  line-height 4.4rem

h4
  font-size 2rem
  line-height 2.4rem

p
ul
ol
  margin 1rem 0

.map
  width 100%
  height 35rem

.container
  width 100%
  max-width 980px
  margin 0 auto
  padding 0 2rem

.page-container

  &_white
    background color-white

.header
  position relative
  background color-white
  &__top
    background #2B2F34
    padding 15px 0

  &__main
    display flex
    align-items center
    padding 3rem 0

  &__nav
    margin-left auto

.top
  &__list
    display flex
    margin 0
    padding 0
    list-style none

  &__item
    margin-right 30px

  &__link
    display flex
    align-items center
    color alpha(color-white, .8)
    transition color .15s trs-function
    font-size 1.4rem
    line-height 1.8rem
    font-weight 600

    svg
      margin-right 10px

    span
      border-bottom 1px solid alpha(color-white, .15)
      transition border-bottom .15s trs-function

    &:hover
      color color-white

      span
        border-bottom 1px solid alpha(color-white, .4)

.nav
  &__list
    display flex
    margin 0
    padding 0
    list-style none

  &__item
    margin-right 40px

    &:last-child
      margin-right 0

    &:hover
      .nav__dropdown
        display block

  &__link
    position relative
    display flex
    align-items center
    padding 10px
    text-transform uppercase
    transition color .15s trs-function
    font-size 1.4rem
    line-height 2rem
    font-weight 600
    color color-main

    &:after
      position absolute
      content ''
      top 6.6rem
      left 0
      right 0
      width 0%
      height 0.4rem
      background color-blue
      transition width .3s trs-function


    &_active
    &:hover
      color color-blue

      &:after
        width 100%


  &__cunt
    margin-left 0.5rem

  &__dropdown
    opacity 0
    overflow hidden
    position absolute
    visibility hidden
    top 14.9rem
    left 0
    right 0
    transition opacity .2s trs-function

    &_active
      visibility visible
      opacity 1

.headline
  display flex
  flex-direction column
  justify-content center
  padding 40px 0
  background #2b2f34
  color color-white

  &__inner
    position relative
    z-index 1

  &__title
    font-size 5rem
    line-height 6rem
    margin 0 0 1rem 0

  &__text
    font-size 2rem
    line-height 3rem
    margin 0

  &__button
    margin-top 3rem

  &_careers
    height 400px
    position relative
    background-image url('http://themesflat.com/html/consultant/images/pages/img_slider03.jpg')
    background-position center 20%
    background-repeat no-repeat
    background-size cover

    &:before
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background alpha(color-black, .6)

  &_about
    height 500px
    position relative
    background-image url('http://themesflat.com/html/consultant/images/pages/img_slider01.jpg')
    background-position center
    background-repeat no-repeat
    background-size cover

    &:before
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background alpha(color-blue, .5)

  &_home
    height 500px
    position relative
    background-image url('http://ec2-54-89-35-96.compute-1.amazonaws.com/wp-content/uploads/2014/07/city.jpg')
    background-position center
    background-repeat no-repeat
    background-size cover

    &:before
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background alpha(color-black, .5)

.page
  padding 5rem 0

  &__title
    position relative
    line-height 1.4
    margin 0 0 5rem 0

    &:after
      content ' '
      position absolute
      left 0
      bottom 0
      width 5rem
      height 0.4rem
      background color-main

    a
      color color-blue

  &__sub:before
    content '\2192'
    margin 0 2rem


  &__content
    display flex

  &__side
    display block
    width 23%

    & + .page__text
      margin-left 5rem

  &__text
    flex 1
    display block

    &>*:first-child
      margin-top 0

    h2
      position relative
      margin-top 3rem
      padding-top 2rem

    a
      color color-blue
      border-bottom 1px solid alpha(color-blue, .2)
      transition border-bottom .15s trs-function

      &:hover
        border-bottom 1px solid alpha(color-blue, .5)

    p
      line-height 2.6rem

    & > ol
    & > ul
      margin 2rem 0
      padding 0 0 0 3rem

      & > li
        margin 1rem 0
        color alpha(color-main, .8)

.side-nav
  &__list
    margin 0
    padding 0
    list-style none

  &__item
    border-bottom 1px solid alpha(color-blue, .15)
    transition border-bottom .15s trs-function

    &:hover
      border-bottom 1px solid alpha(color-blue, .3)

  &__link
    display block
    padding 10px 0
    color alpha(color-blue, .8)
    transition color .15s trs-function

    &:hover
      color color-blue

.footer
  padding 5rem 0
  background #2b2f34
  color color-white

  &__inner
    display flex

  &__item
    width 23.333333%
    margin-right 2rem

    &:last-child
      margin-right 0

    &_main
      width 30%

  &__logo
    margin-bottom -0.2rem

  &__copy
    font-size 1.4rem
    line-height 1.5rem

  &-list
    margin 0
    padding 0
    list-style none

    &__item
      margin-bottom 1rem

      &:last-child
        margin-bottom 0

    &__title
      font-size 1.4rem
      text-transform uppercase
      font-weight 700

    &__link
      font-size 1.4rem
      font-weight 400
      opacity 0.7
      transition opacity .15s trs-function
      color color-white

      &:hover
        opacity 1

.share
  margin-top 2rem
  &__list
    display flex
    align-items center
    margin 0
    padding 0
    list-style none

  &__item
    margin-right 2rem

    &:last-child
      margin-right 0

  &__link
    display flex
    opacity .2
    transition opacity .15s trs-function

    &:hover
      opacity .4

.more
  padding 5rem 0
  background color-blue

  &__inner
    display flex

  &__text
    flex 1
    margin-right 3rem

  &__form
    margin-top 0.8rem
    width 40%

  &__title
    font-size 3.2rem
    line-height 3.6rem
    color color-white
    margin 0 0 0.5rem 0

  &__subtitle
    color color-white
    font-size 1.4rem
    margin 0

.more-form
  display flex

  &__input
    flex 1
    border-radius 0
    border 0
    height 5rem
    line-height 5rem
    font-size 1.4rem
    padding 0 2rem

  &__button
    position relative
    border-radius 0
    border 0
    height 5rem
    padding 0 2rem
    background #2b2f34
    color color-white
    text-transform uppercase
    transition background .15s trs-function
    cursor pointer

    &:hover
      background alpha(#2b2f34, .8)

.dropdown
  background color-white
  box-shadow 0 1rem 2rem alpha(color-black, 0.1)
  z-index 100

  &__inner
    padding 3rem 1.5rem

  &__list
    cf()
    margin 0
    padding 0
    list-style none

  &__item
    display block
    float left
    width 50%
    margin 2rem 0 0 0

    &:first-child
    &:nth-child(2)
      margin 0

  &__link
    color color-main
    border-bottom 1px solid alpha(color-blue, 0.2)
    transition all .15s trs-function

    &:hover
      color color-black
      border-bottom 1px solid alpha(color-blue, 0.4)

.products
  &__list
    cf()
    margin 0
    padding 0
    list-style none

  &__item
    width 50%
    float left
    padding 0 1.5rem 0 0
    margin-bottom 3rem

    &:nth-child(2n)
      padding 0 0 0 1.5rem

.product
  background color-white
  padding 2rem

  &:hover
    .product__thumb:before
      background alpha(color-black, .3)

  &__link
    display block
    height 10rem
    color color-main !important
    border-bottom 0 !important
    margin-bottom 2rem
    transition color .15s trs-function !important

    &:hover
      color color-blue !important

    h3
      margin 0

  &__thumb
    position relative
    width 100%
    padding-bottom 50%
    background-color #f4f4f4
    background-size cover
    background-position center center
    background-repeat no-repeat
    margin-bottom 2rem

    &:before
      position absolute
      content ' '
      top 0
      right 0
      bottom 0
      left 0
      background alpha(color-black, .2)
      transition background .15s trs-function

  &__short
    position relative
    max-height: 250px
    overflow hidden

    &:after
      position absolute
      content ' '
      left 0
      right 0
      bottom 0
      height 5rem
      background-image linear-gradient(180deg, alpha(color-white, 0) 0%, color-white 100%)

  &__button
    margin-top 3rem

.btn
  display inline-block
  padding 1rem 2rem
  background color-main
  color color-white !important
  border-radius 0.3rem
  transition background .15s trs-function !important

  &:hover
    background color-blue

  &_blue
    background color-blue

    &:hover
      background color-main

.clients
  padding 5rem 0
  background color-white

  &__title
  &__subtitle
    text-align center

  &__title
    margin 0 0 1rem 0
    font-size 3.2rem
    line-height 3.5rem

  &__subtitle
    margin 0 0 1rem 0
    font-size 1.8rem
    line-height 2rem

  &__list
    display flex
    margin 5rem 0 0 0
    padding 0
    list-style none

  &__item
    width 33.3333%
    padding 0 1.5rem

    &:first-child
      padding-left 0

    &:last-child
      padding-right 0

.client
  background #f6f8fb
  padding 2rem

  &__review
    font-size 1.4rem
    min-height 22rem

  &__quote
    display block
    text-align center
    padding 1rem 0 1.5rem 0

  &__info
    margin 1rem 0 0 0
    color alpha(color-black,.8)
    min-height 8rem

  &__name
    font-size 1.4rem
    font-weight 600

  &__job
    font-size 1.4rem

.products-preview
  padding 5rem 0

  &__title
  &__subtitle
    text-align center

  &__title
    margin 0 0 1rem 0
    font-size 3.2rem
    line-height 3.5rem

  &__subtitle
    margin 0 0 1rem 0
    font-size 1.8rem
    line-height 2rem

  &__list
    display flex
    flex-wrap wrap
    margin 5rem 0 0 0
    padding 0
    list-style none

  &__item
    width 50%
    padding 0 1.5rem
    margin-bottom 3rem

  &__all
    text-align center

.small-product
  display block

  &:hover
    .small-product__thumb:before
      background alpha(color-black, 0.05)

    .small-product__link
      color color-blue
      span
        border-bottom 1px solid alpha(color-blue, .4)


  &__thumb
    position relative
    display block
    width 100%
    padding-bottom 50%
    margin-bottom 1rem
    background-position center
    background-repeat no-repeat
    background-size cover

    &:before
      position absolute
      content ' '
      top 0
      right 0
      bottom 0
      left 0
      background alpha(color-blue, 0)
      transition background .15s trs-function

  &__link
    display block
    font-weight 600
    font-size 1.8rem
    color color-main
    transition color .15s trs-function

    span
      border-bottom 1px solid alpha(color-blue, .2)
      transition border-bottom .15s trs-function

.product-full
  background color-white
  padding 2rem

  &__title
    font-size 2.6rem
    line-height 3.2rem
    margin 0 0 3rem 0 !important
    padding 0 !important

  &__thumb
    position relative
    width 100%
    padding-bottom 50%
    background-color #f4f4f4
    background-size cover
    background-position center center
    background-repeat no-repeat
    margin-bottom 3rem

  &__content
    position relative
