extends templates/base

block content
  include templates/header.jade
  .content
    .headline.headline_about
      .container.headline__inner
        h1.headline__title About Bluebox-automation
        p.headline__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
    .container
      .page
        h1.page__title About us
        .page__content
          aside.page__side
            .side-nav
              ul.side-nav__list
                li.side-nav__item
                  a.side-nav__link(href='#who-we-are')
                    span Who We Are
                li.side-nav__item
                  a.side-nav__link(href='#mission-statement')
                    span Mission Statement
                li.side-nav__item
                  a.side-nav__link(href='#core-values')
                    span Core Values
                li.side-nav__item
                  a.side-nav__link(href='#our-vision')
                    span Our Vision
                li.side-nav__item
                  a.side-nav__link(href='#what-we-do')
                    span What We Do
                li.side-nav__item
                  a.side-nav__link(href='#our-services')
                    span Our Services
                li.side-nav__item
                  a.side-nav__link(href='#our-industries')
                    span Our Industries
                li.side-nav__item
                  a.side-nav__link(href='#warranty')
                    span Warranty
                li.side-nav__item
                  a.side-nav__link(href='#careers')
                    span Careers
                li.side-nav__item
                  a.side-nav__link(href='#our-history')
                    span Our History
          .page__text
            h2#who-we-are Who We Are
            p Connectivity Solutions Plus (CSP) is a supplier of innovative and differentiated products, solutions, and services for Emergency Medical Services, industrial wireless communications applications. Technologies include Wireless I/O, Wireless Remote Terminal Units, Could Based Systems and Software for remote monitoring, Internet of Things (IoT) based products, Wireless PLC Communications, Image Sensor Modules. Our customers include OEM’s, integrators, distributors and end users. CSP’s goal is to provide reliable products and solutions supported with exceptional customer service.
            h2#mission-statement Mission Statement
            p CSP - providing value through innovative and differentiated measurement solutions.
            h2#core-values Core Values
            p CSP’s core values are the foundational traits and qualities that are the central driving force behind our business decisions. CSP’s core values are as follows:
            ol
              li Promote, support, and provide open, clear, and constructive communication
              li Establish relationships through ethical and professional collaboration
              li Enrich the lives of those we serve through outstanding product and service solutions
              li A steadfast commitment to continuous improvement
              li Retain a reputation of being trusted measurement solution professionals
            h2#our-vision Our Vision
            p CSP's vision is to:
            p Sustain growth by supporting customer success through products, services, and solutions that exceed expectations of quality, performance, and value.
            h2#what-we-do What We Do
            p Connectivity Solutions Plus, Inc. (CSP), an 
              a(href="#") ISO 9001 certified
              |  manufacturer, specializes in liquid wireless communication for harsh industrial applications including Wireless I/O, Wireless Devices for PLC Communication using license free frequency bands as well as GSM/4G based cell based technologies. Our roots in the business go back to the early 90’s. Since then we have built an extensive line of industrial wireless communications devices:
            ul
              li Wireless I/O devices operating in 90 MHz, 2.4 and 5GHz
              li Wireless Communication devices for PLC connectivity including Profibus, Modbus, CAN and others
              li Street Light Controllers for saving energy up to 65%
              li Cloud based remote monitoring systems
              li Wireless Video and data communications 
            p CSP specializes in matching application needs with the right communication technologies for end-users and OEMs. We are Flexible by Design, providing a wide range of wireless technologies, field-configurable systems, exceptional customer service, and custom product modifications.
            p Our sensors have been used in many industries including Water and Wastewater Management, Oil and Gas, Manufacturing, Pharmaceuticals, Energy, Food Manufacturing and Agricultural applications to name a few. Most notably, our wireless devices have had huge success for OEM market leaders in Oil and Gas, Automatic Car Wash, and Medical industries, and have been staples for end-user manufacturers everywhere. In addition, CSP’s aerospace division manufactures avionics for military and commercial aircraft, and we have many aerospace customers that use our custom wireless products and image sensors.
            p We are on the cutting-edge of 
              a(href="#") remote monitoring integration
              |  with level and pressure sensors. Bulk Material Handling and Logistic companies are saving time and money using our tools for remote data access to sensors on tanks spread across entire regions. These real-time monitoring techniques are revolutionizing the way many companies gather and respond to data.
            p Today, Connectivity Solutions Plus, Inc. is privately held. We are a growing company dedicated to providing high quality, highly functional industrial grade wireless communications devices to our customers with exceptional service and knowledgeable engineering.
            h2#our-services Our Services
            p Reseller Partnerships
            p We work with a lot of OEMs, Integrators, Distributors, and Reps to bring their customers reliable sensors in a timely fashion. We consider them our valuable partners, as their success is our success. If you're a reseller of sensors or systems that include them, we can promise you our dedicated efforts to provide:
            ul
              li Better Lead Times
              li Impressive Customer Service
              li and More Reliable Wireless Communication devices that are easy to use and install
            p We appreciate our customers and honor their business like we honor our own. In this day and age of cut-throat business and direct selling, we stick to our old-fashioned values of integrity and mutual respect. 
              a(href="#") Contact us to learn more
              |  about how we can improve your business and help you serve your customers.
            h2#our-industries Our Industries
            p Automation Products Group, Inc. services many industries with their level and pressure monitoring and measurement needs. We specialize in building products that work extremely well in hazardous and harsh conditions. And with our Tank Cloud remote monitoring system, we're helping companies in various industries keep track of their remote inventories.
            p While the bulk of our product ends up in these industries, this is not an exhaustive list. In reality, if you need to measure level, flow, volume, or pressure, we probably have what you need.
            ul  
              li Oil & Gas
              li Chemical
              li Water & Wastewater
              li Food & Beverage
              li Military & Aerospace
              li Medical and Pharmaceutical
              li Energy and Power 
            h2#warranty Warranty
            p Please see our full warranty statement, which is included on our 
              a(href="#") terms and conditions
              |  page.
            h2#careers Careers
            p Connectivity Solutions Plus, Inc. (CSP) has a proud history of expert engineering, high-quality manufacturing, and business excellence. Our industrial wireless devices are used worldwide in highly critical applications, involving potentially hazardous areas, and high dollar operations. Our employees are our greatest strength, and we honor their commitment and contribution.
            p Your career at CSP will be an exciting one full of innovation and continual improvement. We have a great working atmosphere, excellent benefits, and a management team loyal to each employee.
            p CSP is an 
              a(href="#") Equal Opportunity Employer
              |. All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, sexual orientation, gender identity, national origin, or protected veteran status and will not be discriminated against on the basis of disability.
            p For consideration, please send a copy of your resume using contact form in the career section. If you don't see an opportunity that fits you above, go ahead and use our
              a(href="#")  general resume submission form
              |. We're always open to hearing from great talent.
            h2#our-history Our History
            p We started building wireless devices for PLC communication in the 90's. In the 2000's we added Wireless I/O for digital and analog sensors and expanded our existing product lines. Since then, we've added a variety of industrial grade wireless communication devices for a variety of applications including Water and Wastewater management, oil and gas industry, Energy and power segment and many others. 
            p We're committed to helping you eliminate cable reliably up to the demands of your application. Our founders began this company with a spirit of innovation and a commitment to quality. From the beginning, we've been known for putting wireless devices in harsh environments for customers that just couldn't find what they needed elsewhere. We've come along ways since those days as a custom industrial grade wireless device shop, but it has infused everything we do with a demand for durability and a feel for the necessary product features. At CSP, we understand that you can't have a successful wireless device until you have a successful application.
            p Our philosophy is to design wireless products that are easy to install and easy to operate – SMART, SIMPLE and RELIABLE.

    include templates/footer.jade
      
          
