extends templates/base

block content
  include templates/header.jade
  .content
    .container
      .page
        h1.page__title Careers
        .page__content
          .page__text
            p Connectivity Solutions Plus, Inc. (CSP) has a proud history of expert engineering, high-quality manufacturing, and business excellence. Our industrial wireless devices are used worldwide in highly critical applications, involving potentially hazardous areas, and high dollar operations. Our employees are our greatest strength, and we honor their commitment and contribution.
            p Your career at CSP will be an exciting one full of innovation and continual improvement. We have a great working atmosphere, excellent benefits, and a management team loyal to each employee.
            p CSP is an 
              a(href="#") Equal Opportunity Employer.
              |  All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, sexual orientation, gender identity, national origin, or protected veteran status and will not be discriminated against on the basis of disability.
            p For consideration, please send a copy of your resume using contact form in the career section. If you don't see an opportunity that fits you above, go ahead and use our
              a(href="#")  general resume submission form
              | . We're always open to hearing from great talent.
    section.clients
      .container.clients__inner
        h2.clients__title Reviews
        p.clients__subtitle See Why Our Customers Love CSP
        ul.clients__list
          li.clients__item
            .client
              .client__review
                .client__quote
                  svg(width='31px', height='23px', viewbox='248 134 31 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    path(d='M248.664,148.688 C248.664,143.055972 251.33064,138.362685 256.664,134.608 L261.336,138.384 C260.269328,138.853336 259.128006,139.70666 257.912,140.944 C256.695994,142.18134 255.896002,143.375994 255.512,144.528 C255.938669,144.357332 256.49333,144.272 257.176,144.272 C258.754675,144.272 260.077328,144.826661 261.144,145.936 C262.210672,147.045339 262.744,148.474658 262.744,150.224 C262.744,152.058676 262.082673,153.637327 260.76,154.96 C259.437327,156.282673 257.880009,156.944 256.088,156.944 C254.03999,156.944 252.290674,156.197341 250.84,154.704 C249.389326,153.210659 248.664,151.205346 248.664,148.688 L248.664,148.688 Z M264.472,148.688 C264.472,143.055972 267.13864,138.362685 272.472,134.608 L277.144,138.384 C276.077328,138.853336 274.936006,139.70666 273.72,140.944 C272.503994,142.18134 271.704002,143.375994 271.32,144.528 C271.746669,144.357332 272.30133,144.272 272.984,144.272 C274.562675,144.272 275.885328,144.826661 276.952,145.936 C278.018672,147.045339 278.552,148.474658 278.552,150.224 C278.552,152.058676 277.890673,153.637327 276.568,154.96 C275.245327,156.282673 273.688009,156.944 271.896,156.944 C269.84799,156.944 268.098674,156.197341 266.648,154.704 C265.197326,153.210659 264.472,151.205346 264.472,148.688 L264.472,148.688 Z', id='“', stroke='none', fill='#3490ec', fill-rule='evenodd')
                span I have interacted with quite a few large suppliers of wireless communications devices over the years and each experience was the same: poor service, lack of knowledge, and no desire to help the customer. That changed immediately once I contacted CSP!
              .client__info
                span.client__name John R.
                span.client__job  — Manager at an Oil and Gas Company
          li.clients__item
            .client
              .client__review
                .client__quote
                  svg(width='31px', height='23px', viewbox='248 134 31 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    path(d='M248.664,148.688 C248.664,143.055972 251.33064,138.362685 256.664,134.608 L261.336,138.384 C260.269328,138.853336 259.128006,139.70666 257.912,140.944 C256.695994,142.18134 255.896002,143.375994 255.512,144.528 C255.938669,144.357332 256.49333,144.272 257.176,144.272 C258.754675,144.272 260.077328,144.826661 261.144,145.936 C262.210672,147.045339 262.744,148.474658 262.744,150.224 C262.744,152.058676 262.082673,153.637327 260.76,154.96 C259.437327,156.282673 257.880009,156.944 256.088,156.944 C254.03999,156.944 252.290674,156.197341 250.84,154.704 C249.389326,153.210659 248.664,151.205346 248.664,148.688 L248.664,148.688 Z M264.472,148.688 C264.472,143.055972 267.13864,138.362685 272.472,134.608 L277.144,138.384 C276.077328,138.853336 274.936006,139.70666 273.72,140.944 C272.503994,142.18134 271.704002,143.375994 271.32,144.528 C271.746669,144.357332 272.30133,144.272 272.984,144.272 C274.562675,144.272 275.885328,144.826661 276.952,145.936 C278.018672,147.045339 278.552,148.474658 278.552,150.224 C278.552,152.058676 277.890673,153.637327 276.568,154.96 C275.245327,156.282673 273.688009,156.944 271.896,156.944 C269.84799,156.944 268.098674,156.197341 266.648,154.704 C265.197326,153.210659 264.472,151.205346 264.472,148.688 L264.472,148.688 Z', id='“', stroke='none', fill='#3490ec', fill-rule='evenodd')
                span We find CSP wireless devices to be truly industrial grade and of the highest caliber of company to deal with - from their salespersons to their technical support, our initial impression will always be a lasting one - Outstanding!
              .client__info
                span.client__name Andrew B.
                span.client__job  — Principle & VP at a major Water and Wastewater company
          li.clients__item
            .client
              .client__review
                .client__quote
                  svg(width='31px', height='23px', viewbox='248 134 31 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    path(d='M248.664,148.688 C248.664,143.055972 251.33064,138.362685 256.664,134.608 L261.336,138.384 C260.269328,138.853336 259.128006,139.70666 257.912,140.944 C256.695994,142.18134 255.896002,143.375994 255.512,144.528 C255.938669,144.357332 256.49333,144.272 257.176,144.272 C258.754675,144.272 260.077328,144.826661 261.144,145.936 C262.210672,147.045339 262.744,148.474658 262.744,150.224 C262.744,152.058676 262.082673,153.637327 260.76,154.96 C259.437327,156.282673 257.880009,156.944 256.088,156.944 C254.03999,156.944 252.290674,156.197341 250.84,154.704 C249.389326,153.210659 248.664,151.205346 248.664,148.688 L248.664,148.688 Z M264.472,148.688 C264.472,143.055972 267.13864,138.362685 272.472,134.608 L277.144,138.384 C276.077328,138.853336 274.936006,139.70666 273.72,140.944 C272.503994,142.18134 271.704002,143.375994 271.32,144.528 C271.746669,144.357332 272.30133,144.272 272.984,144.272 C274.562675,144.272 275.885328,144.826661 276.952,145.936 C278.018672,147.045339 278.552,148.474658 278.552,150.224 C278.552,152.058676 277.890673,153.637327 276.568,154.96 C275.245327,156.282673 273.688009,156.944 271.896,156.944 C269.84799,156.944 268.098674,156.197341 266.648,154.704 C265.197326,153.210659 264.472,151.205346 264.472,148.688 L264.472,148.688 Z', id='“', stroke='none', fill='#3490ec', fill-rule='evenodd')
                span CSP has met our unique requests, solved problems, and been responsive to all our needs. They provide the kind of support that makes them an integral part of our operation.
              .client__info
                span.client__name Matt F.
                span.client__job  — President at a major Power/Energy company
    section.map
    section.more
      .container.more__inner
        .more__text
          h2.more__title Need more information?
          p.more__subtitle We can call you and help with your problem, just leave us your phone number.
        .more__form
          form.more-form
            input(type="input", placeholder="Enter your email or phone").more-form__input
            input(type="submit", value="Send").more-form__button
            
    include templates/footer.jade
      
          
