extends templates/base

block content
  include templates/header.jade
  .content
    .container
      .page
        h1.page__title Careers
        .page__content
          .page__text
            p Connectivity Solutions Plus, Inc. (CSP) has a proud history of expert engineering, high-quality manufacturing, and business excellence. Our industrial wireless devices are used worldwide in highly critical applications, involving potentially hazardous areas, and high dollar operations. Our employees are our greatest strength, and we honor their commitment and contribution.
            p Your career at CSP will be an exciting one full of innovation and continual improvement. We have a great working atmosphere, excellent benefits, and a management team loyal to each employee.
            p CSP is an 
              a(href="#") Equal Opportunity Employer.
              |  All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, sexual orientation, gender identity, national origin, or protected veteran status and will not be discriminated against on the basis of disability.
            p For consideration, please send a copy of your resume using contact form in the career section. If you don't see an opportunity that fits you above, go ahead and use our
              a(href="#")  general resume submission form
              | . We're always open to hearing from great talent.
    section.map
    section.more
      .container.more__inner
        .more__text
          h2.more__title Need more information?
          p.more__subtitle We can call you and help with your problem, just leave us your phone number.
        .more__form
          form.more-form
            input(type="input", placeholder="Enter your email or phone").more-form__input
            input(type="submit", value="Send").more-form__button
            
    include templates/footer.jade
      
          
