extends templates/base

block content
  include templates/header.jade
  .content
    .container
      .page
        h1.page__title Our Products
        .page__content
          .page__text
            section.products
              ul.products__list
                li.products__item
                  .product
                    a(href="#").product__link
                      h3.product__title Looking For Transmitting a Digital or Analog Sensor Signal Up to 20 Miles Wireless? Check Out Our Wireless I/O Products!
                    .product__thumb(style='background-image: url("http://www.bluebox-automation.com/wp-content/uploads/2016/08/WIreless-I-O-1.png")')
                    .product__short
                      p Every day, businesses that manage remote sensors need to transmit digital ON/OFF and analog 4 – 20mA, 0 – 5V from one point to another to control and/or monitor remote sensors measuring liquid levels, pressure, temperature, radiation level in diverse industrial applications. Our Wireless I/O systems are reducing installation time and saving money with by providing instant wireless connectivity for distances up to 20 miles. Our Wireless I/Os are connected to the sensors in your remote locations and takes it from there to the point of monitoring/control via wireless communication in license-free ISM frequency band, so you can monitor/control them via wireless 24/7/365. You get an easy–to–use remote monitoring platform at the lowest possible price. Adding Wireless to your remote monitoring/control will save you money in three critical ways:
                      ul
                        li You'll stop wasting time on expensive cable installations. Enjoy instant connectivity and signal transmission in fraction of the time you use in cable installation
                        li In case of re-routing a signal, all you need is to change the location of transmitter and receiver
                        li Cost of a transmitter/receiver a fraction of up to 20 miles of cable
                    .product__button
                      a(href="#").btn
                        span Learn More
                li.products__item
                  .product
                    a(href="#").product__link
                      h3.product__title Looking For PLCs to Communicate Wireless? Check Out Our PLC Compatible Industrial Grade Wireless Devices!
                    .product__thumb(style='background-image: url("http://www.bluebox-automation.com/wp-content/uploads/2016/08/Wireless-PLC-Communication.png")')
                    .product__short
                      p Every day, businesses in diverse industries are saving money with our wireless products allowing PLCs to communicate wireless. Our wireless products allow Profibus and Profisafe, Profinet, DF1, Modbus, CAN and Ethernet adding mobility, flexibility and safety to your day to day operation. Adding wireless your PLC communication will save you money in two critical ways:
                      ul
                        li You'll stop wasting time on the expensive task of checking cut cables
                        li You’ll stop installing long cables limiting mobility and flexibility of your application
                        li Wireless cost is fraction of long cables and maintenance costs even less
                    .product__button
                      a(href="#").btn
                        span Learn More
                li.products__item
                  .product
                    a(href="#").product__link
                      h3.product__title Looking For Saving Energy On Street Lights? Check Out Our SafeLight!
                    .product__thumb(style='background-image: url("http://www.bluebox-automation.com/wp-content/uploads/2014/08/Street-Light-Control.jpg")')
                    .product__short
                      p Every day, businesses are reducing waste and saving money with SafeLight control system. You get an easy–to–use remote monitoring platform at the lowest possible price. Adding SafeLight to your street light system will save you money in two critical ways:
                      ul
                        li Allows up to 65% energy savings by optimizing burning times and dimming at off-peak traffic hours
                        li Allows substantial maintenance cost savings by detecting burned lamps
                        li Allows remote street lights control so lights ON/OFF can be easily controlled
                    .product__button
                      a(href="#").btn
                        span Learn More
                li.products__item
                  .product
                    a(href="#").product__link
                      h3.product__title Looking Looking For Remote Tank Monitoring? Check Out Our ControlMan SCADA Cloud!
                    .product__thumb(style='background-image: url("http://www.bluebox-automation.com/wp-content/uploads/2014/08/Could-based-WIreless-SCADA.jpg")')
                    .product__short
                      p Every day, businesses that manage remote tanks are reducing waste and saving money with AutoLog ControlMan SCADA Cloud system. Our RTUs are connected to the sensors in your tank and takes it from there to the cloud via internet and/or wireless GSM, so you can monitor them over the Internet 24/7/365. You get an easy–to–use remote monitoring platform at the lowest possible price. Adding Cloud to your remote monitoring will save you money in two critical ways:
                      ul
                        li You'll stop wasting time on the expensive task of checking remote tank levels. Enjoy real time tank level data at your fingertips
                        li You’ll instantly know about expected and unexpected events. Receive an instant alert of tank empties and refills, including theft
                    .product__button
                      a(href="#").btn
                        span Learn More
                li.products__item
                  .product
                    a(href="#").product__link
                      h3.product__title Looking For Cathodic Protection in an Oil & Gas Application? Check Out Our CathodicProtection Wireless System!
                    .product__thumb(style='background-image: url("http://www.bluebox-automation.com/wp-content/uploads/2014/08/Cathodic-Protection-Monitoring.jpg")')
                    .product__short
                      p Every day, businesses are saving money with AutoLog CathodicProtection in Oil & Gas Industry  by using our flexible design using wireless monitoring integrated in the system. You get an easy–to–use remote monitoring platform at the lowest possible price. Adding Cloud to your remote monitoring will save you money in two critical ways:
                      ul
                        li You'll stop letting underground pipelines un-monitored. You monitor it and fix it before disaster happens
                        li Wireless communication allows mobility, flexibility and shorter installation time
                    .product__button
                      a(href="#").btn
                        span Learn More
                      
    include templates/footer.jade
