extends templates/base

block content
  include templates/header.jade
  .content
    .container
      .page
        h1.page__title 
          a(href="#") 
            span All products
        .page__content
          .page__text
            .product-full
              h2.product-full__title Looking For Transmitting a Digital or Analog Sensor Signal Up to 20 Miles Wireless? Check Out Our Wireless I/O Products!
              .product-full__thumb(style='background-image: url("http://www.bluebox-automation.com/wp-content/uploads/2016/08/WIreless-I-O-1.png")')
              .product-full__content
                p Every day, businesses that manage remote sensors need to transmit digital ON/OFF and analog 4 – 20mA, 0 – 5V from one point to another to control and/or monitor remote sensors measuring liquid levels, pressure, temperature, radiation level in diverse industrial applications. Our Wireless I/O systems are reducing installation time and saving money with by providing instant wireless connectivity for distances up to 20 miles. Our Wireless I/Os are connected to the sensors in your remote locations and takes it from there to the point of monitoring/control via wireless communication in license-free ISM frequency band, so you can monitor/control them via wireless 24/7/365. You get an easy–to–use remote monitoring platform at the lowest possible price. Adding Wireless to your remote monitoring/control will save you money in three critical ways:
                ul
                  li You'll stop wasting time on expensive cable installations. Enjoy instant connectivity and signal transmission in fraction of the time you use in cable installation
                  li In case of re-routing a signal, all you need is to change the location of transmitter and receiver
                  li Cost of a transmitter/receiver a fraction of up to 20 miles of cable
    include templates/footer.jade
